BODY
{
    PADDING-BOTTOM: 0px;
    BACKGROUND-COLOR: #ffffff;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    BACKGROUND-REPEAT: repeat;
    PADDING-TOP: 0px;
}

H1
{
    PADDING-BOTTOM: 8px;
    MARGIN: 0px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND: #ffdd97;
    COLOR: #000000;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: normal;
    PADDING-TOP: 8px
}
.SP_H1
{
    PADDING-BOTTOM: 8px;
    MARGIN: 0px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND: #ffdd97;
    COLOR: #000000;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: normal;
    PADDING-TOP: 8px
}

.SP_H2
{
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND: #21374c;
    COLOR: #FFFFFF;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: normal;
    PADDING-TOP: 2px
}

.tooltipCss {
    position:absolute; 
    border:1px solid gray; 
    width:300px; 
    margin:1em; 
    padding:3px; 
    background: black;
    top:-10px;
}

.SP_darkenBackground 
{
	background-color: rgb(0, 0, 0);
	opacity: 0.6; /* Safari, Opera */
	-moz-opacity:0.60; /* FireFox */
	filter: alpha(opacity=60); /* IE */
	z-index: 20;
	height: 100%;
	width: 100%;
	background-repeat:repeat;
	position:fixed;
	top: 0px;
	left: 0px;
}

.modalBackground
{
  background-color:#CCCCFF;
  filter:alpha(opacity=40);
  opacity:0.5;
}

.ModalWindow
{
  border: solid1px#c0c0c0;
  background:#ffffff;
  padding: 0px10px10px10px;
  position:absolute;
  top:-1000px;
}

.prevlink A:link
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 31px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(images/osx_prev_off.gif) no-repeat left center;
    PADDING-TOP: 10px
}
.prevlink A:visited
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 31px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url( images/osx_prev_off.gif) no-repeat left center;
    PADDING-TOP: 10px
}
.prevlink A:active
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 31px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url( images/osx_prev.gif) no-repeat left center;
    PADDING-TOP: 10px
}
.prevlink A:hover
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 31px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url( images/osx_prev.gif) no-repeat left center;
    PADDING-TOP: 10px
}
.nextlink A:link
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 33px;
    BACKGROUND: url(/support/MasterPages/images/osx_next_off.gif) no-repeat right center;
    PADDING-TOP: 10px
}
.nextlink A:visited
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 33px;
    BACKGROUND: url(/support/MasterPages/images/osx_next_off.gif) no-repeat right center;
    PADDING-TOP: 10px
}
.nextlink A:active
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 33px;
    BACKGROUND: url(/support/MasterPages/images/osx_next.gif) no-repeat right center;
    PADDING-TOP: 10px
}
.nextlink A:hover
{
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 33px;
    BACKGROUND: url(/support/MasterPages/images/osx_next.gif) no-repeat right center;
    PADDING-TOP: 10px
}

.tblListStyle
{
    WIDTH: 800px;
    TABLE-LAYOUT: fixed
}
.tblHeadStyle
{
    WIDTH: 100px;
    OVERFLOW: hidden
}
.tblHeadStyleActive
{
    WIDTH: 100px;
    BACKGROUND: #7fb1e2;
    COLOR: #fff;
    OVERFLOW: hidden
}
.tblBodyStyle
{
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    OVERFLOW: hidden
}
.tblBodyStyleActive
{
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    OVERFLOW: hidden
}
DIV.menuBar
{
    FONT-STYLE: normal;
    FONT-FAMILY: "MS Sans Serif", Arial, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
DIV.menuBar A.menuButton
{
    FONT-STYLE: normal;
    FONT-FAMILY: "MS Sans Serif", Arial, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
DIV.menu
{
    FONT-STYLE: normal;
    FONT-FAMILY: "MS Sans Serif", Arial, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
DIV.menu A.menuItem
{
    FONT-STYLE: normal;
    FONT-FAMILY: "MS Sans Serif", Arial, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
DIV.menuBar
{
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 6px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    BACKGROUND: url(/support/MasterPages/images/horizontal_gradient_bg.gif) #f5f5f4 repeat-y left 50%;
    PADDING-TOP: 6px
}
DIV.menuBar A.menuButton
{
    Z-INDEX: 100;
    BORDER-BOTTOM: transparent 1px solid;
    POSITION: relative;
    BORDER-LEFT: transparent 1px solid;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: transparent;
    MARGIN: 1px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    COLOR: #000000;
    BORDER-TOP: transparent 1px solid;
    TOP: 0px;
    CURSOR: default;
    BORDER-RIGHT: transparent 1px solid;
    TEXT-DECORATION: none;
    PADDING-TOP: 2px;
    LEFT: 0px
}
DIV.menuBar A.menuButton:hover
{
    BORDER-BOTTOM-COLOR: #0a246a;
    BACKGROUND-COLOR: #b6bdd2;
    BORDER-TOP-COLOR: #0a246a;
    COLOR: #000000;
    BORDER-RIGHT-COLOR: #0a246a;
    BORDER-LEFT-COLOR: #0a246a
}
DIV.menuBar A.menuButtonActive
{
    BORDER-BOTTOM-COLOR: #666666;
    BACKGROUND-COLOR: #f4f3f1;
    BORDER-TOP-COLOR: #666666;
    COLOR: #000000;
    BORDER-RIGHT-COLOR: #666666;
    BORDER-LEFT-COLOR: #666666;
    TOP: 0px;
    LEFT: 0px
}
DIV.menuBar A.menuButtonActive:hover
{
    BORDER-BOTTOM-COLOR: #666666;
    BACKGROUND-COLOR: #f4f3f1;
    BORDER-TOP-COLOR: #666666;
    COLOR: #000000;
    BORDER-RIGHT-COLOR: #666666;
    BORDER-LEFT-COLOR: #666666;
    TOP: 0px;
    LEFT: 0px
}
DIV.menu
{
    Z-INDEX: 101;
    BORDER-BOTTOM: #666666 1px solid;
    POSITION: absolute;
    FILTER: progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135,strength=2);
    BORDER-LEFT: #666666 1px solid;
    PADDING-BOTTOM: 1px;
    MARGIN: 0px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 1px;
    BACKGROUND: url(/support/MasterPages/images/menu_left_bar.gif) #ffffff repeat-y left 50%;
    VISIBILITY: hidden;
    BORDER-TOP: #666666 1px solid;
    TOP: 0px;
    BORDER-RIGHT: #666666 1px solid;
    PADDING-TOP: 1px;
    LEFT: 0px
}
DIV.menu A.menuItem
{
    BORDER-BOTTOM: transparent 1px solid;
    BORDER-LEFT: transparent 1px solid;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 30px;
    PADDING-RIGHT: 1em;
    DISPLAY: block;
    WHITE-SPACE: nowrap;
    COLOR: #000000;
    BORDER-TOP: transparent 1px solid;
    CURSOR: default;
    BORDER-RIGHT: transparent 1px solid;
    TEXT-DECORATION: none;
    PADDING-TOP: 0px
}
DIV.menu A.menuItem:hover
{
    BORDER-BOTTOM: #0a246a 1px solid;
    BORDER-LEFT: #0a246a 1px solid;
    BACKGROUND-COLOR: #b6bdd2;
    COLOR: #000000;
    BORDER-TOP: #0a246a 1px solid;
    BORDER-RIGHT: #0a246a 1px solid
}
DIV.menu A.menuItemHighlight
{
    BORDER-BOTTOM: #0a246a 1px solid;
    BORDER-LEFT: #0a246a 1px solid;
    BACKGROUND-COLOR: #b6bdd2;
    COLOR: #000000;
    BORDER-TOP: #0a246a 1px solid;
    BORDER-RIGHT: #0a246a 1px solid
}
DIV.menu A.menuItem SPAN.menuItemText
{
}
DIV.menu A.menuItem SPAN.menuItemArrow
{
}
DIV.menu A.menuItem SPAN.menuItemIcon
{
    MARGIN-LEFT: -30px;
    MARGIN-RIGHT: 10px
}
DIV.menu A.menuItem SPAN.menuItemIcon IMG
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    WIDTH: 20px;
    HEIGHT: 20px;
    VERTICAL-ALIGN: middle;
    BORDER-TOP: medium none;
    BORDER-RIGHT: medium none
}
DIV.menu DIV.menuItemSep
{
    MARGIN: 1px 0px 1px 30px;
    BORDER-TOP: #a6a6a6 1px solid
}
#horizon
{
    POSITION: relative;
    TEXT-ALIGN: left;
    MARGIN: 0px auto;
    WIDTH: 100%
}

.AutoExtender
{
    BORDER-BOTTOM: buttonshadow 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: buttonshadow 1px solid;
    BACKGROUND-COLOR: #FFFFFF;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    padding:0px;
    HEIGHT: 200px;
    VISIBILITY: hidden;
    COLOR: #FFF;
    OVERFLOW: auto;
    BORDER-TOP: buttonshadow 1px solid;
    CURSOR: default;
    BORDER-RIGHT: buttonshadow 1px solid;
}
.AutoExtenderList
{
    Z-INDEX: 0;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #FFFFFF;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 1px;
    COLOR: #000000;
    OVERFLOW: visible;
    FONT-FAMILY: tahoma,verdana,sans-serif;
    FONT-SIZE: 10pt;
    CURSOR: default;
    PADDING-TOP: 1px
}
.AutoExtenderHighlight
{
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffdd97;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 1px;
    CURSOR: default;
    FONT-FAMILY: tahoma,verdana,sans-serif;
    FONT-SIZE: 10pt;
    PADDING-TOP: 1px;
    color: #000000;
}

.autocomplete_completionListElement
{
    BORDER-BOTTOM: buttonshadow 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: buttonshadow 1px solid;
    BACKGROUND-COLOR: #444;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    HEIGHT: 200px;
    VISIBILITY: hidden;
    COLOR: #fff;
    OVERFLOW: auto;
    BORDER-TOP: buttonshadow 1px solid;
    CURSOR: default;
    BORDER-RIGHT: buttonshadow 1px solid
}
.autocomplete_highlightedListItem
{
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffff99;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 1px;
    COLOR: #000;
    CURSOR: default;
    PADDING-TOP: 1px
}
.autocomplete_listItem
{
    Z-INDEX: 0;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #444;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 1px;
    COLOR: #fff;
    OVERFLOW: visible;
    CURSOR: default;
    PADDING-TOP: 1px
}
.formblock
{
    PADDING-BOTTOM: 20px;
    PADDING-LEFT: 20px;
    WIDTH: 600px;
    PADDING-RIGHT: 20px;
    DISPLAY: block;
    PADDING-TOP: 20px
}
.formblock .formblockhead
{
    PADDING-BOTTOM: 3px;
    MARGIN: 0px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    FONT-FAMILY: 'Arial Narrow', Arial, Helvetica;
    BACKGROUND: #777;
    COLOR: #eee;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    PADDING-TOP: 0px
}
.formblock .formblockbody
{
    BORDER-BOTTOM: #444 1px solid;
    PADDING-BOTTOM: 8px;
    MARGIN: 0px;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND: #ddd;
    FONT-SIZE: 8pt;
    BORDER-TOP: #444 1px solid;
    FONT-WEIGHT: normal;
    PADDING-TOP: 8px
}
.formblock .formblockitems
{
    BORDER-BOTTOM: #444 1px solid;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND: #000;
    FONT-SIZE: 8pt;
    BORDER-TOP: #444 1px solid;
    FONT-WEIGHT: normal;
    PADDING-TOP: 0px
}
.stepblock
{
    BORDER-BOTTOM: #444 1px solid;
    BORDER-LEFT: #444 1px solid;
    MARGIN: 20px 20px 0px;
    WIDTH: 600px;
    DISPLAY: block;
    BORDER-TOP: #444 1px solid;
    BORDER-RIGHT: #444 1px solid
}
.stepblock .stepblockhead
{
    PADDING-BOTTOM: 3px;
    MARGIN: 0px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    FONT-FAMILY: 'Arial Narrow', Arial, Helvetica;
    BACKGROUND: #777;
    COLOR: #eee;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: normal;
    PADDING-TOP: 3px
}
.stepblock .stepblockbody
{
    BORDER-BOTTOM: #888 1px solid;
    PADDING-BOTTOM: 8px;
    MARGIN: 0px;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND: #ddd;
    FONT-SIZE: 8pt;
    BORDER-TOP: #444 1px solid;
    FONT-WEIGHT: normal;
    PADDING-TOP: 8px
}
.stepblock .currentstepblockhead
{
    PADDING-BOTTOM: 3px;
    MARGIN: 0px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    FONT-FAMILY: 'Arial Narrow', Arial, Helvetica;
    BACKGROUND: #f82;
    COLOR: #000;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    PADDING-TOP: 3px
}
.stepblock .currentstepblockbody
{
    BORDER-BOTTOM: #bb6 1px solid;
    PADDING-BOTTOM: 8px;
    MARGIN: 0px;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND: #ff8;
    COLOR: #000;
    FONT-SIZE: 8pt;
    BORDER-TOP: #444 1px solid;
    FONT-WEIGHT: normal;
    PADDING-TOP: 8px
}
.stepblock .completestepblockhead
{
    PADDING-BOTTOM: 3px;
    MARGIN: 0px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    FONT-FAMILY: 'Arial Narrow', Arial, Helvetica;
    BACKGROUND: #333;
    COLOR: #888;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: normal;
    PADDING-TOP: 3px
}
.stepblock .completestepblockbody
{
    BORDER-BOTTOM: #888 1px solid;
    PADDING-BOTTOM: 8px;
    MARGIN: 0px;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND: #aaa;
    COLOR: #000;
    FONT-SIZE: 8pt;
    BORDER-TOP: #444 1px solid;
    FONT-WEIGHT: normal;
    PADDING-TOP: 8px
}
.formblock .formfield
{
    WIDTH: 98%
}
.formblock .formsplitter
{
    MARGIN: 0px;
    WIDTH: 100%;
    FONT-FAMILY: 'Arial Narrow', Arial, Helvetica;
    BACKGROUND: #777;
    COLOR: #eee;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold
}
.formblock .formsplittertext
{
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    DISPLAY: inline;
    FLOAT: left;
    PADDING-TOP: 3px
}
.notificationarrow
{
    POSITION: absolute;
    MARGIN-TOP: -302px;
    WIDTH: 70px;
    BACKGROUND: url(/support/MasterPages/images/notification_arrow.png) no-repeat;
    HEIGHT: 370px;
    LEFT: 640px
}
.verticaltext
{
    FILTER: flipv fliph;
    WRITING-MODE: tb-rl
}
.linenum
{
    FONT-FAMILY: 'Arial Narrow', Arial, Helvetica;
    BACKGROUND: #294779;
    COLOR: #eee;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #444
}
.linenumalt
{
    FONT-FAMILY: 'Arial Narrow', Arial, Helvetica;
    BACKGROUND: #0a224a;
    COLOR: #fff;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #444
}
.SP_accordionPaneHeader
{
    DISPLAY: block;
    FONT-FAMILY: verdana,tahoma,sans-serif;
    BACKGROUND: url(images/portal_heading_bg.gif) #f5f5f4 repeat-x left 50%;
    HEIGHT: 20px;
    COLOR: #ffffff;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: 600;
    TEXT-DECORATION: none
}

.SP_itemLabel2
{
    FONT-FAMILY: tahoma,verdana,sans-serif;
    FONT-SIZE: 9pt;
}

.SP_itemLabel
{
    FONT-FAMILY: verdana,tahoma,sans-serif;
    COLOR: #525252;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 600
}
.SP_dataLabel
{
    MARGIN-TOP: 3px;
    FONT-FAMILY: Helvetica, tahoma,sans-serif;
    MARGIN-BOTTOM: 3px;
    FONT-SIZE: 10pt
}
.SP_dataLabel_Header
{
    MARGIN-TOP: 3px;    
    MARGIN-BOTTOM: 3px;
    font:normal normal normal 14px verdana, sans-serif;        
    background-color:#345578;        
    color:white
}
.SP_dataLabel_Header1
{
    MARGIN-TOP: 3px;    
    MARGIN-BOTTOM: 3px;
    font:normal normal normal 11px verdana, sans-serif;    
    background-color:#d8d8d8;
    color:black
}
.SP_dataLabelCell
{
    BORDER-BOTTOM: black 1px;
    BORDER-LEFT: black;
    BACKGROUND-COLOR: #ebf3ff;
    PADDING-LEFT: 7px;
    BORDER-TOP: #d8d8d8 1px solid;
    BORDER-RIGHT: black
}
.SP_dataLabelCellTable
{
    BORDER-BOTTOM: black 1px;
    BORDER-LEFT: black;    
    PADDING-LEFT: 7px;
    BORDER-TOP: #d8d8d8 1px solid;    
}
.SP_dataLabelCellWhite
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BACKGROUND-COLOR: white;
    BORDER-TOP: black 1px;
    BORDER-RIGHT: medium none
}
.SP_itemLabelCell
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BACKGROUND-COLOR: white;
    BORDER-TOP: #d8d8d8 1px solid;
    BORDER-RIGHT: medium none
}
.SP_Row
{
    HEIGHT: 20px
}
.SP_BodyMargin
{
    MARGIN-LEFT: 10px
}
.itemrowdivider
{
    BACKGROUND: #000;
    HEIGHT: 4px
}
.lineitem
{
    BACKGROUND: url(/support/MasterPages/images/8px_shadow.png) #ebf2fe repeat-x
}
.lineitemalt
{
    BACKGROUND: url(/support/MasterPages/images/8px_shadow.png) #cbd8e6 repeat-x
}
.rightside
{
    DISPLAY: inline;
    FLOAT: right
}

.userdivider
{
    MARGIN-TOP: 10px;
    WIDTH: 100%;
    MARGIN-BOTTOM: 10px;
    HEIGHT: 1px;
    BORDER-TOP: #000 1px dotted
}
.usercomment
{
    MARGIN-TOP: 0px;
    PADDING-TOP: 0px
}
.usercomment .begin
{
    BACKGROUND: url(/support/MasterPages/images/caption_top.png) no-repeat;
    HEIGHT: 16px
}
.usercomment .comment
{
    BACKGROUND: #fff
}
.usercomment .comment DIV
{
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px
}
.usercomment .end
{
    BACKGROUND: url(/support/MasterPages/images/caption_bottom.png) no-repeat;
    HEIGHT: 5px
}
A.signofflink:link
{
    COLOR: #a00;
    TEXT-DECORATION: underline
}
A.signofflink:visited
{
    COLOR: #a00;
    TEXT-DECORATION: underline
}
A.signofflink:active
{
    BACKGROUND: #a00;
    COLOR: #fff;
    TEXT-DECORATION: none
}
A.signofflink:hover
{
    BACKGROUND: #a00;
    COLOR: #fff;
    TEXT-DECORATION: none
}

.toolbar
{
    DISPLAY: block;
    BACKGROUND: url(images/gradient_bg.gif) #f5f5f4 repeat-x left 50%;
    HEIGHT: 25px
}
/*
.toolbar A:active
{
    BORDER-BOTTOM: transparent 1px solid;
    BORDER-LEFT: transparent 1px solid;
    FONT-FAMILY: Arial,Helvetica;
    COLOR: #000000;
    FONT-SIZE: 10pt;
    BORDER-TOP: transparent 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: transparent 1px solid;
    TEXT-DECORATION: none
}*/

.toolbar A:link
{
    BORDER-BOTTOM: transparent 1px solid;
    BORDER-LEFT: transparent 1px solid;
    FONT-FAMILY: Arial,Helvetica;
    COLOR: #000000;
    FONT-SIZE: 10pt;
    BORDER-TOP: transparent 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: transparent 1px solid;
    TEXT-DECORATION: none
}
.toolbar A:visited
{
    BORDER-BOTTOM: transparent 1px solid;
    BORDER-LEFT: transparent 1px solid;
    FONT-FAMILY: Arial,Helvetica;
    COLOR: #000000;
    FONT-SIZE: 10pt;
    BORDER-TOP: transparent 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: transparent 1px solid;
    TEXT-DECORATION: none
}

.toolbar A:hover
{
    BORDER-BOTTOM: #0a246a 1px solid;
    BORDER-LEFT: #0a246a 1px solid;
    BACKGROUND-COLOR: #b6bdd2; 
    COLOR: #000;
    BORDER-TOP: #0a246a 1px solid;
    BORDER-RIGHT: #0a246a 1px solid;
    TEXT-DECORATION: none
}
.toolbar DIV
{
}
.toolbar IMG
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

.toolbar1
{
    DISPLAY: block;
    BACKGROUND: url(../images/gradient_bg.gif) #f5f5f4 repeat-x left 50%;
    HEIGHT: 25px
}

.toolbar1 DIV
{
}

.toolbarDelegate
{
    BORDER-BOTTOM: transparent 1px solid;
    BORDER-LEFT: transparent 1px solid;
    FONT-FAMILY: Arial,Helvetica;
    COLOR: #000000;
    FONT-SIZE: 10pt;
    BORDER-TOP: transparent 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: transparent 1px solid;
    TEXT-DECORATION: none;
    FLOAT:Left
}

.toolbar1 IMG
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

.toolbar1 A:link
{
    BORDER-BOTTOM: transparent 1px solid;
    BORDER-LEFT: transparent 1px solid;
    FONT-FAMILY: Arial,Helvetica;
    COLOR: #000000;
    FONT-SIZE: 10pt;
    BORDER-TOP: transparent 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: transparent 1px solid;
    TEXT-DECORATION: none
}

.toolbar1 A:visited
{
    BORDER-BOTTOM: transparent 1px solid;
    BORDER-LEFT: transparent 1px solid;
    FONT-FAMILY: Arial,Helvetica;
    COLOR: #000000;
    FONT-SIZE: 10pt;
    BORDER-TOP: transparent 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: transparent 1px solid;
    TEXT-DECORATION: none
}

.AhoverOver
{
    BORDER-BOTTOM: #0a246a 1px solid;
    BORDER-LEFT: #0a246a 1px solid;
    BACKGROUND-COLOR: #b6bdd2; 
    COLOR: #000;
    BORDER-TOP: #0a246a 1px solid;
    BORDER-RIGHT: #0a246a 1px solid;
    TEXT-DECORATION: none
}

.AhoverOut
{
    BORDER-BOTTOM: transparent 1px solid;
    BORDER-LEFT: transparent 1px solid;
    FONT-FAMILY: Arial,Helvetica;
    COLOR: #000000;
    FONT-SIZE: 10pt;
    BORDER-TOP: transparent 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: transparent 1px solid;
    TEXT-DECORATION: none
}

#tabarea
{
    Z-INDEX: 1;
    POSITION: relative;
    WIDTH: 100%;
    TOP: 0px;
    LEFT: 0px
}
#contentarea
{
}

.silverBKG
{
    BACKGROUND: url(/support/MasterPages/images/gradient_bg.gif) #f5f5f4 repeat-x left 100%;
}